.play-pause-button div {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: center;
  text-size: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  margin: 2px;
}


.artist-name {
  padding: 0px 3px;
}

.now-playing {
  text-align: center;
}
